#headertitle {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 20px
}

#addnew {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#container {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

#top-number {
    grid-column: 1;
    grid-row: 1;
    padding-left: 20px;
}

#top-title {
    grid-column: 2;
    grid-row: 1;
}

#top-author {
    grid-column: 3;
    grid-row: 1;
}

#top-pages {
    grid-column: 4;
    grid-row: 1;
}

#top-completed {
    grid-column: 5;
    grid-row: 1;
}
