#headertitle {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 20px
}

#addnew {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#container {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

#formspace {
    text-align: center;
    margin: 0 auto;
}

#bookformtitle {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    display: block;
}

#titleinput {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#authorinput {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#yearinput {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#readinput {
    text-align: center;
    margin: 0 auto;
    display: block;
}
