#headertitle {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 20px
}

#addnew {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#container {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

thead {
    background-color: black;
    color: white;
}

#formspace {
    text-align: center;
    margin: 0 auto;
}

#bookformtitle {
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    display: block;
}

#formtitle {
    color: black;
    display: inline;
}

#titleinput {
    text-align: center;
    margin: 0 auto;
    display: inline;
}

#formauthor {
    color: black;
    display: inline;
}

#authorinput {
    text-align: center;
    margin: 0 auto;
    display: inline;
}

#formyear {
    color: black;
    display: inline;
}

#yearinput {
    text-align: center;
    margin: 0 auto;
    display: inline;
}

#formread {
    color: black;
    display: inline;
}

#readinput {
    text-align: center;
    margin: 0 auto;
    display: inline;
}

#removex:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;
}

#removex {
    text-align: center;
}
